:root {
  --background: #ffffff;
  --color-curtain-red: #9c1b20;
  --color-curtain-red-hover: #b12228;
  --color-text-primary: #1a1a1a;
  --header-offset: 96px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text-primary);
  background: var(--background);
  font-family: var(--font-text), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: var(--header-offset);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 640px) {
  :root {
    --header-offset: 120px;
  }
}

@media (max-width: 420px) {
  :root {
    --header-offset: 150px;
  }
}
