.section {
  padding: 0 clamp(20px, 6vw, 96px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide {
  flex: 0 0 calc(100% / 4 - 16px * 3 / 4);
  min-width: 0;
  margin-inline-start: 16px;
}

@media (max-width: 1024px) {
  .slide {
    flex: 0 0 calc(100% / 3 - 16px * 2 / 3);
  }
}

@media (max-width: 640px) {
  .section {
    padding: 0 16px;
  }

  .slide {
    flex: 0 0 80%;
  }
}
